:root{
    --primary-colorBlue: #6495ED;
    --text-whiteColor: #fff;
    --primary-buttonColor: #FF5F1F;
    --blackColor:#28282B;
    --color-primary:#191970;
    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --transition: all 400ms ease;    
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;            
}


html,
body{
    font-family: "Montserrat";
    background-color: var(--color-primary);               
}


/* ================== Banner Styling =========================== */


.banner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--text-whiteColor);
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 10rem;
    z-index: 1;
}



.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner__head, .address, .contact, .email{
    text-align: center;
}

marquee{
    display: flex;
    flex-direction: row;
}



/* ========= NAV Bar Styling ========================== */
nav{
    position: fixed;
    display: flex;
    justify-content: start;
    top: 10rem;
    left: 0;
    width: 100vw;
    height: 5rem;   
    background-color: var(--color-primary);
    z-index: 1;
    transition: all 600ms ease;               
}

.scrolled{
    background-color: var(--primary-colorBlue);
    
}

nav:hover{
    box-shadow: var(--box-shadow);
}

.nav__container{
    position: relative;
    width: 90%;
    height: 5rem;
    margin: 0 auto;    
    display: grid;
    place-items: center;    
    
}

.main__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
    width: 100%;
}

.menu__items{    
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.25rem;            
    gap: 0.1rem;
    height: 5rem;   
}

.menu__items a{
    height: 4.8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    text-decoration: none;
    color: var(--text-whiteColor);
    font-size: medium;
    font-weight: 600;
}



.menu__items a:hover{
    background-color:#FF5F1F;
    transition: var(--transition);
    color: #28282B;
}

.nav__clickbtn{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 5rem;
    gap: 0.5em;    
}

.nav__clickbtn button{
    font-size: small;
    color: #fff;
    border-radius: 0.2rem;
    box-shadow: var(--box-shadow);
    background-color: #FF5F1F;;
}

.nav__clickbtn button:active{
    transform: translateY(4px);
}

.close_open-icon{
    display: none;
}

/* ============ Header section styling ========================= */

header{
    margin-top: 17rem;
    
}

header .main__features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text-whiteColor);
}

header .main__features .left__side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--primary-colorBlue);
    width: 85%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

ul.features{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

ul.features li{
    list-style:disc;
}


header .main__features .right__side{
    display: flex;   
    gap: 1rem;
        
} 

.right__side{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.right__side .click__btn a button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.carousel-item img{  

    width: fit-content;
    height: fit-content;
}

/* ================= Sections Styling ======================= */


section#About, section#Benefit, section#contact{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-whiteColor);    
}

section .about__article, section .benefits__article{
    width: 93%;
    margin: 0 auto;
    background-color: var(--primary-colorBlue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.25rem;
    text-align: center;
}
/* ========================= today's edits =============================== */
.benefits__article h6:first-child, .benefits__article h6:nth-child(3){
    text-align: justify;
}

.benefits__article h6:nth-child(3){
    margin-top: 4rem;
}

.about__article p{
    width: 40%;
    margin: 0 auto;    
    font-weight:700;
    text-align: justify;
    font-size: larger;
    padding: 0.5rem;     
}

.benefits__article{    
    padding: 0.5rem;    
    
}

.about__article p:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.benefits__article ul:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 2rem;    
}

.benefits__article ul:nth-child(4){
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.benefits__article ul:nth-child(2) li{
    list-style:disc;
    text-align: left;
}

.benefits__article ul:nth-child(4) li{
    list-style:disc;
    text-align: left;
}
/* ============================= today's Edits ============================ */
.contact__form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input{    
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

textarea{    
    width: 25rem;
    height: 10rem;
    border-radius: 0.25rem;
    resize: none;
}

form button{   
    width: 7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #28282B;
    border-radius: 0.25rem;
        
}

form button:hover{
    color: var(--text-whiteColor);
    background-color: #FF5F1F;
}

footer{
    margin-top: 2rem;
    display: grid;    
    place-items: center;
    background-color: #BEC3C9;
    color: var(--text-whiteColor)
}
/* ==================== today ===================== */
.location__socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
   
}

.location{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--primary-colorBlue);
    border-radius: 0.25rem;
}


.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socials a{
    text-decoration: none;
}

.socials a i.bi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color:#fff;
    border-radius: 50%;       
}

.socials a:last-child i.bi{
    color: green;
}

small{
    width: 100%;
    text-align: center;
    color: black;
}




/* ======================= MEDIA QUERIES FOR DEIFFRENT SCREEN SIZES ============================ */

@media screen and (min-width: 320px) and (max-width: 360px){
    .banner{       
        top: 5rem;       
    }

    nav{       
        top: 0;        
    }

    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .menu__items{    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 5rem;
        right: -100%;
        z-index: 2;
        background-color: #BEC3C9;
        height: max-content;
        transition: all 600ms ease;       
    }

    .slide-side-sidebar{
        right: -2rem;
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 25rem;
        right: -100%;
        background-color: #BEC3C9;
        height: max-content;
        width: 11rem;
        gap: 2rem;
        transition: all 700ms ease;
    }

    .slidenav__clickbtn{
        right: -2rem;
    }

    .nav__clickbtn button{
        padding: 0.5rem;
    }

    .close_open-icon{
        display: flex;
        color: #fff;
        font-size: larger;        
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }      

    .show{
        display: none;
    }
   

    header .main__features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--text-whiteColor);
    }

    .about__article p{
        width: 100%;
        margin: 0 auto;        
        text-align: center;        
        padding: 0.5rem;     
    }

    .benefits__article h6:first-child, .benefits__article h6:nth-child(3){
        text-align: center;
    }

    .carousel-item img{
        width: 17rem;
        height: fit-content;
    }


    form input{
        width: 15rem;                       
    }


    form textarea{
        width: 20rem;
        height: 10rem;   

    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

}

/* ==================================== Device Width 320px ================================ */


    

    /* ====================== For iPhone 6 and 6 plus Portrait or Landscape View ==========*/


/* ==================================== Width 480px ================================ */

@media screen and (min-width: 361px)and (max-width: 480px) and (orientation: portrait){
        .banner{       
            top: 5rem;       
        }
    
        nav{       
            top: 0;        
        }
    
        .nav__container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        
        .menu__items{    
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 5rem;
            right: -100%;
            z-index: 2;
            background-color: #BEC3C9;
            height: max-content;
            transition: all 600ms ease;    
        }
    
        .slide-side-sidebar{
            right: -2rem;
        }
    
        .nav__clickbtn{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 25rem;
            right: -100%;
            background-color: #BEC3C9;
            height: max-content;
            width: 11rem;
            gap: 2rem;
            transition: all 700ms ease;
        }
    
        .slidenav__clickbtn{
            right: -2rem;
        }
    
        .nav__clickbtn button{
            padding: 0.5rem;
        }
    
        .close_open-icon{
            display: flex;        
            color: #fff;
            font-size: larger;        
        }
    
        .showmenu{
            display: flex;
            color: #fff;        
        }
    
        .closemenu{
            color: #fff;
        }      
    
        .show{
            display: none;
        }
       
    
        header .main__features{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: var(--text-whiteColor);
        }

        .about__article p{
            width: 100%;
            margin: 0 auto;        
            text-align: center;        
            padding: 0.5rem;     
        }
    
        .benefits__article h6:first-child, .benefits__article h6:nth-child(3){
            text-align: center;
        }
    
        .carousel-item img{
            width: 18rem;
            height: fit-content;
            
        }
    
    
        form input{
            width: 15rem;      
            
        }
    
    
        form textarea{
            width: 20rem;
            height: 15rem;
        }
    
        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }


    /* ============================ For iPhone 5 Portrait or Landscape View ====================*/


/* ================== For Mobile Phones Portrait or Landscape View ===================*/
@media screen and (min-width: 481px) and (max-width: 640px){
    .banner{       
        top: 5rem;       
    }

    nav{       
        top: 0;        
    }

    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    
    .menu__items{    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 5rem;
        right: -100%;
        z-index: 2;
        background-color: #BEC3C9;
        height: max-content;
        transition: all 600ms ease;   
    }

    .slide-side-sidebar{
        right: -2rem;
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 25rem;
        right: -100%;
        background-color: #BEC3C9;
        height: max-content;
        width: 11rem;
        gap: 2rem;
        transition: all 700ms ease;
    }

    .slidenav__clickbtn{
        right: -2rem;
    }

    .nav__clickbtn button{
        padding: 0.5rem;
    }

    .close_open-icon{
        display: flex;        
        color: #fff;
        font-size: larger;        
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }      

    .show{
        display: none;
    }
   

    header .main__features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--text-whiteColor);
    }

    .about__article p{
        width: 100%;
        margin: 0 auto;        
        text-align: center;        
        padding: 0.5rem;     
    }

    .benefits__article h6:first-child, .benefits__article h6:nth-child(3){
        text-align: center;
    }

    .carousel-item img{
        width: 19rem;
        height: fit-content;
        
    }


    input{
        width: 15rem;     
        
    }


    textarea{
        width: 20rem;
        height: 10rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}


/* =================================== Width 630px =================================== */



/* ================================== Width 768px ====================================*/
@media screen and (min-width: 641px) and (max-width: 768px){

    .banner{       
        top: 5rem;       
    }

    nav{       
        top: 0;        
    }

    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .menu__items{    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 5rem;
        right: -100%;
        z-index: 2;
        background-color: #BEC3C9;        
        height: max-content;
        transition: all 600ms ease;
    }

    .slide-side-sidebar{
        right: -2rem;
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 25rem;
        right: -100%;
        background-color: #BEC3C9;
        height: max-content;
        width: 11rem;
        gap: 2rem;
        transition: all 700ms ease;
    }

    .slidenav__clickbtn{
        right: -2rem;
    }

    .nav__clickbtn button{
        padding: 0.5rem;
    }

    .close_open-icon{
        display: flex;        
        color: #fff;
        font-size: larger;        
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }      

    .show{
        display: none;
    }
   

    header .main__features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--text-whiteColor);
    }

    .about__article p{
        width: 100%;
        margin: 0 auto;        
        text-align: center;        
        padding: 0.5rem;     
    }

    .benefits__article h6:first-child, .benefits__article h6:nth-child(3){
        text-align: center;
    }

    .carousel-item img{
        width: 41rem;
        height: fit-content;
    }


    input{
        width: 20rem; 
        
    }


    textarea{
        width: 25rem;
        height: 10rem;

    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
   
}


@media screen and (min-width: 769px) and (max-width: 1024px){
    .banner{       
        top: 5rem;       
    }

    nav{       
        top: 0;        
    }

    .nav__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .menu__items{    
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 5rem;
        right: -100%;
        z-index: 2;
        background-color: #BEC3C9;        
        height: max-content;
        transition: all 600ms ease;
    }

    .slide-side-sidebar{
        right: -2rem;
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 25rem;
        right: -100%;
        background-color: #BEC3C9;
        height: max-content;
        width: 11rem;
        gap: 2rem;
        transition: all 700ms ease;
    }

    .slidenav__clickbtn{
        right: -2rem;
    }

    .nav__clickbtn button{
        padding: 0.5rem;
    }

    .close_open-icon{
        display: flex;        
        color: #fff;
        font-size: larger;        
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }      

    .show{
        display: none;
    }
   

    header .main__features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: var(--text-whiteColor);
    }

    .about__article p{
        width: 100%;
        margin: 0 auto;        
        text-align: center;        
        padding: 0.5rem;     
    }

    .benefits__article h6:first-child, .benefits__article h6:nth-child(3){
        text-align: center;
    }

    .carousel-item img{
        width: 42rem;
        height: fit-content;
    }


    input{
        width: 22rem;   

    }


    textarea{
        width: 30rem;
        height: 10rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 


}





