:root{
    --primary-colorBlue: #6495ED;
    --text-whiteColor: #fff;
    --primary-buttonColor: #FF5F1F;
    --blackColor:#28282B;
    --color-primary:#191970;
    --box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --transition: all 400ms ease;    
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;            
}




/* ================== Banner Styling =========================== */
.banner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--text-whiteColor);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 10rem;
    z-index: 1;
}



.roll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banner__head, .address, .contact, .email{
    text-align: center;
}

marquee{
    display: flex;
    flex-direction: row;
}


/* ================ Font Family ======================== */

html,
body{
    font-family: "Montserrat";
    background-color: var(--color-primary);            
}

/* ========= NAV Bar Styling ========================== */
nav{
    position: fixed;
    display: flex;
    justify-content: start;
    top: 10rem;
    left: 0;
    width: 100vw;
    height: 5rem;
    /* background-color: #BEC3C9; */
    background-color: var(--color-primary);
    z-index: 1;
    transition: all 600ms ease;               
}

.scrolled{
    background-color: var(--primary-colorBlue);
    
}

nav:hover{
    box-shadow: var(--box-shadow);
}

.nav__container{
    position: relative;
    width: 90%;
    height: 5rem;
    margin: 0 auto;    
    display: grid;
    place-items: center;
    /* background-color: red     */
    
}

.main__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
    width: 100%;
}

.menu__items{    
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.25rem;            
    gap: 0.1rem;
    height: 5rem;
    /* width: 90%;     */
    /* background-color: #CCD0D5; */
}

.menu__items a{
    height: 4.8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    text-decoration: none;
    color: var(--text-whiteColor);
    font-size: medium;
    font-weight: 600;
}



.menu__items a:hover{
    background-color:#FF5F1F;
    transition: var(--transition);
    color: #28282B;
}

.nav__clickbtn{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 5rem;
    gap: 0.5em;    
}

.nav__clickbtn button{
    font-size: small;
    color: #fff;
    border-radius: 0.2rem;
    box-shadow: var(--box-shadow);
    background-color: #FF5F1F;;
}

.nav__clickbtn button:active{
    transform: translateY(4px);
}

.close_open-icon{
    display: none;
}

/* ============ Header section styling ========================= */

header{
    margin-top: 17rem;
}

header .main__features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text-whiteColor);
}

header .main__features .left__side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--primary-colorBlue);
    width: 85%;
    margin: 0 auto;
    border-radius: 0.25rem;
}

ul.features{
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

ul.features li{
    list-style:disc;
}


header .main__features .right__side{
    display: flex;   
    gap: 1rem;
        
} 

.right__side{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.right__side .click__btn a button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.carousel-item img{    
    width: 42.5rem;
    height: 22rem;    
}

/* ================= Sections Styling ======================= */


section#About, section#Benefit, section#contact{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-whiteColor);    
}

section .about__article, section .benefits__article{
    width: 93%;
    margin: 0 auto;
    background-color: var(--primary-colorBlue);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.25rem;
    text-align: center;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input{    
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

textarea{    
    width: 25rem;
    height: 10rem;
    border-radius: 0.25rem;
    resize: none;
}

form button{   
    width: 7rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #28282B;
    border-radius: 0.25rem;
        
}

form button:hover{
    color: var(--text-whiteColor);
    background-color: #FF5F1F;
}

footer{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #BEC3C9;
    color: var(--text-whiteColor)
}

.location{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--primary-colorBlue);
    border-radius: 0.25rem;
}

.location p{
    text-align: center;
}

.location__map{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.location__map iframe{
    height: 10rem;
    width: 20rem;
}


/* ======================= Media queries for Tablets Ipads portrai portrait mode =================================== */

@media screen and (max-width: 1024px){}


/* =========================================================================== */
/* Tablets and ipads max-width: 767px. */
/* =========================================================================== */

@media screen and (max-width: 767px){

    .nav__container{
        display: flex;
        justify-content:end;
        align-items: center;
        width: 80%
        
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;       
        right: -100%;
        top: 19.95rem;
        background-color: #BEC3C9;
        width: 20rem;
        height: 17rem;
        transition: all 700ms ease;
    }
    
    .slidenav__clickbtn{
        right: -5rem;
    }
   

    .nav__clickbtn button{
        width:8rem;
    }

    .close_open-icon{
        padding: 0.5rem;        
    }


    .menu__items{
        position: absolute;
        display: flex;
        flex-direction: column;     
        right: -100%;
        top: 5rem;
        height: 15rem;
        width: 20rem;        
        background-color: #BEC3C9;
        gap: 1rem;
        transition: all 600ms ease;           
                                
    }

    .menu__items:hover{
        box-shadow: var(--box-shadow);
    }

    .menu__items a{        
        width: 90%;        
    }

    .close_open-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }

    .close_open-icon span.showmenu, .close_open-icon span.closemenu{
        font-size: 2rem;
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }
      

    .show{
        display: none;
    }

    .slide-side-sidebar{
        right: -13%;
    }

    .carousel-item img{    
        width: 23.7rem;
        height: 22rem;    
    }
}



/* =========================================================================== */
/*  ===============================   600px   ================================= */
/* =========================================================================== */

@media screen and (max-width: 600px){

    .location__map iframe{
        height: 10rem;
        width: 10rem;
    }

    .nav__container{
        display: flex;
        justify-content:end;
        align-items: center;
        width: 80%
        
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;       
        right: -100%;
        top: 19.95rem;
        background-color: #BEC3C9;
        width: 20rem;
        height: 17rem;
        transition: all 700ms ease;
    }
    
    .slidenav__clickbtn{
        right: -3.8rem;
    }
   

    .nav__clickbtn button{
        width:8rem;
    }

    .close_open-icon{
        padding: 0.5rem;        
    }


    .menu__items{
        position: absolute;
        display: flex;
        flex-direction: column;     
        right: -100%;
        top: 5rem;
        height: 15rem;
        width: 20rem;        
        background-color: #BEC3C9;
        gap: 1rem;
        transition: all 600ms ease;           
                                
    }

    .menu__items:hover{
        box-shadow: var(--box-shadow);
    }

    .menu__items a{        
        width: 90%;        
    }

    .close_open-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }

    .close_open-icon span.showmenu, .close_open-icon span.closemenu{
        font-size: 2rem;
    }

    .showmenu{
        display: flex;
        color: #fff;        
    }

    .closemenu{
        color: #fff;
    }
      

    .show{
        display: none;
    }

    .slide-side-sidebar{
        right: -13%;
    }

    .carousel-item img{
       
        width: 15rem;
        height: 15rem;
        
    }   

}

/* =========================================================================== */
/* Mobile (Smartphone) max-width: 480px. */
/* =========================================================================== */

@media screen and (max-width: 480px){
    body{
        background-color: black;
    }

    header .main__features{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.3rem;
        color: var(--text-whiteColor);
    }

    .nav__clickbtn{
        position: absolute;
        display: flex;
        flex-direction: column;       
        right: -100%;
        top: 19.95rem;
        background-color: #BEC3C9;
        width: 20rem;
        height: 17rem;
        transition: all 700ms ease;
    }
    
    .slidenav__clickbtn{
        right:-3.1rem;
    }

    .carousel-item img{       
        width: 25rem;
        height: 15rem;        
    }
   

}







