:root{
    --primary-colorBlue: #6495ED;
    --text-whiteColor: #fff;
    --primary-buttonColor: #FF5F1F;
    --blackColor:#28282B;
    --containerHeight: 100%;
    --containerWidth: 84%;
    --containerMargin: 0 auto; 
}

/* =================== General styling ========================= */

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;

}

html{    
    font-family: Poppins;
    scroll-behavior:smooth;
}

body{
    line-height: 1.7;
}


.container{  
    height: var(--containerHeight);
    width: var(--containerWidth);
    margin: var(--containerMargin);
    
}

.btn{
    height: 3rem;
    width: 5rem;
    color: black;
    background-color: var(--primary-buttonColor);
    cursor: pointer;
}

/* ===========End of general styling ============================= */

/* =========== NAV Bar ============================= */


nav{
    display: grid;
    place-items: center;
    height: 4rem;
    width: 100vw;
    background-color: var(--primary-colorBlue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;    
}


.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0rem;
    height: 100%;
    padding: 0.2rem;
    /* background-color: #FF5F1F;     */
    
}



.nav__container li a{
    
    color: var(--text-whiteColor);
    
}    


.menu__items{
    display: flex;
    justify-content: center;
    align-items: center;        
    gap: 2rem;
    height: 100%;    
    
}

.menu__items li{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100%;
    width: 7rem;    
    transition: all 600ms;
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7rem;
    background-color:#FF5F1F;
}


.menu__items li:hover{    
    background-color :#FF5F1F;
}

.signin__out{
    display: flex;
    justify-content: center;
    align-items: center;       
    gap: 1rem;
}

.login{
    color: var(--text-whiteColor); 
}

.signup{    
    color: var(--text-whiteColor); 
}

.menu__icon svg{
    display: none;
}

/* ===========End of NAV Bar============================= */

/* ===========Header or Hero section ============================= */

header{
    width: 100%;
    max-height: max-content;
    background-color: var(--primary-colorBlue);
    padding: 2rem;   
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    background-color: var(--primary-colorBlue);
    border-left: var(--text-whiteColor) 3px solid;
    border-right: var(--text-whiteColor) 3px solid;    
}

.header img{
    margin-top: 2rem;
    border-radius: 3rem;
    height: 20rem;
    width: 40rem;
}

.banner{
    color: var(--text-whiteColor);
    text-align: center;
}

.banner h1{
    font-size: 3rem;
    text-align: center;
    line-height: 1;        
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


img.apple{
    height: 16rem;
    width: 23rem;
}

.circle-left{
    position: absolute;
    left: 7.5rem;
    top: 12rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    outline: var(--text-whiteColor) 3px solid;
    background-color:var(--primary-colorBlue);
}

.circle-right{
    position: absolute;
    right: 7.5rem;
    top: 24rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    outline: var(--text-whiteColor) 3px solid;
    background-color:var(--primary-colorBlue);
}

.section__banner h1, .clients__container h1, .faq__container h1, .testimonials__container h1{
    
    font-size: 6rem;
    text-align: center;
}





.section__container img:hover{
    
}

/* ===========End of Header of Hero section ============================= */

/* ===========About Section ============================= */

.section__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.section__container img{
    height: 25rem;
    width: 25rem;    
}

.about__us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.about__us .image{
    /* background-color: aqua; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 25rem;
    transition: all 600ms;
}

.description:hover{
    box-shadow: inset 0 0 10px;
    cursor: pointer;
}

.title p{
    text-align: justify;
    
}

/* ===========End of About Section ============================= */

/* =========== Clients section ============================= */

.logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
}


.logos__image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F9F9;
    height: 10rem;
    width: 13rem;
    transition: all 900ms;
    border-radius: 1.5rem;
}


.logos__image:hover{
    background-color: var(--text-whiteColor);
}


.logos__image img{
    height: 6rem;
    width: 7rem;    
}

.clients__container{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0rem;
    margin-top: 4rem; 
    
}

/* =========== End of Clients section ============================= */

/* ============================ testimonials =========================*/
.testimonials__container{
    margin-top: 4rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;   

}

.moretext , .lesstext{
    font-size: x-small;
    cursor: pointer;
}

.testimonial .hidden{
    display: none;
}

.main__testimonials{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: #F8F9F9;
    border-radius: 3px;
    height:fit-content;
}

.testimonial, .profile__pic{
    padding: 1rem;
}

.profile__pic{
    display: flex;
    gap:1rem;
    align-items: center;

}

.profile__pic img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

span.moretext , span.lesstext{
    color: red;
}


/* ============================ end of testimonials =================== */


/* =========== FQAs  ============================= */

.faq__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;    
}


.faq__container h1{

}

.questions_answers{
    height:auto;
    width: 50%;
    background-color: #F8F9F9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 2rem;
    transition: all 900ms;
}

.questions_answers:hover{
    box-shadow: 5px 5px 20px;
}

.icons span{
    /* background-color: #FF5F1F;  */
    display: flex; 
    align-items: center;
    justify-content: center;
     
}    

.question{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.icons{    
    position: absolute;
    left: 0;
    display: flex;
    font-size: 1.5rem;       
}

.icons .hidden{        
    display: none;
}


.question h5{
    
}

.answer{
    display: none;
}

.answer.open{
    display: inline-block;    
}

/* ===========================End of FAQ ============================ */


/* ================================= Contacts ========================= */

section#Contact{
    margin-top: 3rem;
    /* border: solid 2px black; */
}

section#Contact h2{
    text-align: center;
    width: var(--containerWidth);
    margin: var(--containerMargin);
    /* background-color: var(--primary-buttonColor); */
}


.contact__container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color: var(--primary-buttonColor); */
    border: solid 2px #F8F9F9;
    border-radius: 1rem;
    background-color: #F8F9F9;
    transition: all 900ms;    
}

.contact__container:hover{
    box-shadow: 5px 5px 20px;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.socials .facebook, .socials .instagram, .socials .whatsapp, .socials .linkedIn, .socials .youtube{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img{
    height: 1.5rem;
    width: 1.5rem;
}

form.contactform{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding: 2rem;       
    
}

form label{
    font-size: small;
}

form input{
    width: 50%;
    height: 2.3rem;
    border-radius: 0.25rem;
    
}

form input[type=text]{
    /* display: flex;
    justify-content: end;
    align-items: end; */
}

form textarea{
    width: 70%;
    height: 10rem;
    resize: none;
}

.contact button{
    margin-top: 1rem;
    margin-left: 30rem;
    height: 2.5rem;
    width: 4.3rem;
}

.contact button:hover{
    cursor: pointer;
}

/* ================================= End of Contacts ======================== */

/* ================================== Footer ================================== */

footer{
    background-color: #ABB2B9;
    color: #fff;
}

footer a{
    color: #fff;
}

.footer__elements{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 1rem;
   background-color: #ABB2B9;
}

ul.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.site__addresses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.HQ__address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.social__media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.copyright{
    text-align: center;
}

/* ====================== Media Queries ========================= */

/* ======================= For tablets =========================== */

@media screen and (max-width: 1024px){

    body{
        line-height: 1.4;
        /* background-color: aqua; */
    }
    
    nav{
        height: 3.2rem;
        width: 100vw;
        background-color: #ABB2B9;
        
    }
/* ======== NAV BAR =================== */
    .nav__container{
        position: relative;
        justify-items: center;
        justify-content: space-between;
    }

    .menu__items{
        position: absolute;
        display: none;
        flex-direction: column;
        right: 0;
        top: 9.5rem;
        gap: 0rem;        
    }

   .menu__items li{
        background-color: #ABB2B9;
        display: flex;
        padding: 1.2rem;
        border-bottom: solid 1px;
        width: 12rem;        
    }

    .menu__items li:last-child{
        border-bottom: none;
    }
   

    /* .menu__items{
        display: flex;
    } */

    .menu__icon svg{
        display: block;
    }

    .menu__icon svg:hover{
        cursor: pointer;        
    }

    /*================== Header ====================  */
   
    header{
        width: 100%;
        max-height: max-content;
        background-color: var(--primary-colorBlue);
        padding: 1rem;   
    }

    .header__container{
        display: flex;        
        flex-direction: column;
        align-items: center;        
        margin-top: 2rem;
        background-color: var(--primary-colorBlue);
        border-left: none;
        border-right: none;    
    }


    .header img{
        margin-top: 2rem;
        border-radius: 2rem;
        height: 10rem;
        width: 20rem;
    }

    .circle-left{
        display: none;
    }

    .circle-right{
        display: none;
    }

    .banner h1{
        font-size: 1.5rem;
    }

    .cta{     
        gap: 2rem;
    }
    
    
    img.apple{
        height: 10rem;
        width: 15rem;
    }

    img.google{
        height: 10rem;
        width: 10rem;
    }


    .section__banner h1, .clients__container h1, .faq__container h1, .testimonials__container h1{
            font-size: 2rem;        
    }

    .about__us{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;        
    }


    .section__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4rem;
    }
    
    .section__container img{
        height: 15rem;
        width: 15rem;    
    }

    .image iframe{
        height: 15rem;
        width: 15rem;
    }
    
    .about__us{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        
    }

    .description{        
        align-items: center;
        justify-content: center;  
        height: 19rem;
        transition: all 600ms;
    }

    .logos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        row-gap: 2rem;
    }

    .testimonials__container{
        margin-top: 2rem;
    }
    
    .testimonials{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;   
    
    }


    .questions_answers{        
        width: 100%;       
    }

    .contact__container{
        display: flex;
        flex-direction: column;
        /* background-color: var(--primary-buttonColor); */
        /* border: solid 2px #F8F9F9;
        border-radius: 1rem;
        background-color: #F8F9F9;
        transition: all 900ms;     */
    }

    form.contactform{
        display: flex;
        /* position: relative; */
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;       
        
    }

    label{
        display: none;
    }

    form input, form textarea{
       width: 90%;
    }


    .socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem;
    }    


    .contact button{        
        margin: auto 0;
        height: 2.5rem;
        width: 90%;
    }

    .footer__elements{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #ABB2B9;
     }

}


/* ======================= For Mobile Phones ======================= */

@media screen and (max-width: 600px){
    body{
        /* background-color: red; */
    }

    .footer__elements{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #ABB2B9;
     }

     .description h3{
        font-size: small;
     }

     .description p{
        font-size: 0.4rem;

     }


     .cta{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }


    .logos__image{
        /* display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F8F9F9; */
        height: 7rem;
        width: 7rem;
        /* transition: all 900ms; */
        border-radius: 1.5rem;
    }



}













